

    body {
      margin: 0;
      background: hsl(0, 0%, 95%);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: 'Lexend Deca', sans-serif;

    }

    .container {
      display: flex;
      max-width: 900px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    }

    .card {
      padding: 50px;
      color: white;
      flex: 1;
    }

    /* HEADINGS */
    .card h2 {
      font-family: 'Big Shoulders Display', cursive;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 1px;
      margin: 20px 0;
    }

    /* BODY TEXT */
    .card p {
      font-size: 15px;
      line-height: 1.7;
      margin-bottom: 30px;
      font-weight: 200;
      opacity: 0.9;
    }
    .card button {
          padding: 12px 25px;
          border: none;
          border-radius: 25px;
          cursor: pointer;
          background: white;
          
          font-family: 'Lexend Deca', sans-serif;
        }

    .card button:active {
      padding: 12px 25px;
      border: 2px solid white;
      border-radius: 25px;
      font-family: 'Lexend Deca', sans-serif;
      color: white;
      background: none;
    }
    .sedan {
      background: hsl(31, 77%, 52%);
    }

    .suv {
      background: hsl(184, 100%, 22%);
    }

    .luxury {
      background: hsl(179, 100%, 13%);
    }

    .sedan button { color: hsl(31, 77%, 52%); }
    .suv button { color: hsl(184, 100%, 22%); }
    .luxury button { color: hsl(179, 100%, 13%); }

    /* MOBILE */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        width: 90%;
      }
    }

    /* DESKTOP */
    @media (min-width: 1200px) {
      .container {
        max-width: 1000px;
      }
    }
